.body-login {
  background: #f1f7fc;
  padding: 60px;
}

.container {
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  background-color: #fff;
}

img {
  object-fit: cover;
}

button {
  background-color: #012326 !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 6px 50px !important;
  color: whitesmoke !important;
}

button:hover {
  background-color: #025159 !important;
}

h5 {
  color: #012326 !important;
}

label,
p {
  color: #012326 !important;
}

a {
  color: gray !important;
}

#invalid-email,
#invalid-password {
  color: red;
  font-size: 12px;
}
